* {
  margin: 0;
  padding: 0;
}

.etblok {
  width: 1160px;
  height: 100px;
  border: 1px solid #000;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

.wrap{
  height: 100vh;
  background: grey;
  display: flex;
}

.block-left{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 30%;
}

.block-left .content {
  width: 360px;
   border: 2px solid black;
  display: flex;
  justify-content: center;
}
.block-left .title {
  text-align: end;
}
.block-right .content {
  width: 800px;
  border: 2px solid yellow;
}

.block-right {
  width: 70%;
  background: white;
  opacity: 0.8;
}
.block-left .title {
  background: blue;
}
.title {
  width: 100%;
  background: green;
}
