@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/rubik/rubik-800.woff2) format(woff2);
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  width: 1160px;
  position: relative;
  margin: 0 auto;
  color: #000000;
  background-color: #FFE17F;
}
.page-header::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 40px;
  background-color: #FFFFFF;
}

.logo-link {
  margin-left: 60px;
  margin-top: 17px;
  display: block;
}

.logo {
  width: 146px;
  height: 36px;
  position: relative;
}

.logo-link:focus {
  outline: none;
}

.logo-link:focus::before {
  content: "";
  width: 181px;
  height: 50px;
  border: 2px solid #AF4FFF;
  border-radius: 25px;
  position: absolute;
  top: 9px;
  left: 35px;
}

.navigation-user {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-left: 42px;
  margin-top: 16px;
  margin-right: 39px;
}

.navigation-user-item {
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 20px;
  box-sizing: border-box;
}

.navigation-user-item-search {
  width: 516px;
  justify-content: flex-start;
  padding-left: 16px;
  margin-right: 16px;
  /* margin-right: 24px; */
}

.navigation-user-item-user {
  min-width: 117px;
  justify-content: flex-start;
  position: absolute;
  left: 535px;
  padding-left: 21px;
  padding-right: 21px;
}

.navigation-user-item-exit {
  width: 100px;
  opacity: 0.3;
}

.navigation-user-item-compare {
  width: 136px;
  position: absolute;
  left: 798px;
}

.navigation-user-item-basket {
  width: 131px;
}

.navigation-user-item:focus-within {
  border: 2px solid #AF4FFF;
  opacity: 1;
}

.navigation-user-link:focus {
  outline: none;
}

.navigation-user-item:hover {
  opacity: 0.6;
}

.navigation-user-item:active {
  opacity: 0.3;
  border: 2px solid transparent;
}

.search-img {
  margin-bottom: -2px;
  margin-right: 20px;
  fill: #000000;
}

.search {
  font-size: 16px;
  line-height: 19px;
  opacity: 0.3;
}

.user-img {
  width: 13px;
  height: 12px;
  margin-right: 12px;
}

.compare-img {
  width: 10px;
  height: 12px;
  margin-right: 10px;
}

.basket-img {
  width: 16px;
  height: 14px;
  margin-right: 10px;
}

.navigation-user-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-top: 21px;
  margin-right: 34px;
  margin-bottom: 38px;
}

.navigation-item {
  position: relative;
  height: 50px;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 14px 20px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-item-catalog {
  position: relative;
  margin-right: 231px;
}

.navigation-button {
  background-color: transparent;
  border: transparent;
  position: absolute;
  left: 261px;
  top: -3px;
  opacity: 0.2;
}

.plus-button {
  width: 50px;
  height: 50px;
}

.navigation-button::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 2px;
  top: 24px;
  right: 17px;
  background-color: #000000;
}

.navigation-button::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 16px;
  top: 17px;
  right: 24px;
  background-color: #000000;
}

.navigation-item-delivery {
  position: relative;
  left: 14px;
  /* left: 8px; */
}

.navigation-item-warranty {
  position: relative;
  left: -23px;
  /* left: -14px; */
}

.navigation-item:focus-within {
  border: 2px solid #AF4FFF;
}

.navigation-link:focus, .navigation-button:focus {
  outline: none;
}

.navigation-link-menu:hover::before {
  position: absolute;
  content: "";
  top: 40px;
  left: 20px;
  right: 23px;
  height: 2px;
  background-color: #000000;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.main-index {
  color: #444444;
  background-color: #FFFFFF;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}

.top-product {
  display: flex;
}

.top-product::before {
  content: "";
  width: 100%;
  height: 114px;
  position: absolute;
  background-color: #FFE17F;
}

.top-product-img {
  width: 560px;
  margin-right: 40px;
  position: relative;
  display: flex;
  align-items: center;
}

.slider-image {
  width: 560px;
  height: 560px;
  margin-top: -39px;
  position: relative;
}

.slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 80px;
  padding: 10px;
  border: #FFFFFF;
  background-color: #FFFFFF;
  cursor: pointer;
}

.slider-prev {
  position: absolute;
}

.slider-next {
  position: absolute;
  right: 0;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-prev:focus {
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 6px;
  outline: none;
}

.slider-next:focus {
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 6px;
  outline: none;
}

.slider-button:active {
  opacity: 0.3;
}

.top-product-description {
  width: 560px;
  margin-left: auto;
}

.product-number {
  font-weight: 800;
  font-size: 180px;
  line-height: 135px;
  text-align: right;
  color: #FFFFFF;
  position: relative;
  margin-top: -9px;
  margin-right: 49px;
}

.top-product-header {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 45px;
  line-height: 50px;
  color: #000000;
  position: relative;
  margin-top: -43px;
  margin-bottom: 30px;
}

.top-product-info-location {
  display: flex;
  margin-top: 20px;
}

.top-product-info {
  width: 220px;
  height: 50px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.top-product-info::after {
  content: "";
  width: 220px;
  height: 8px;
  background-color: #FFE17F;
  position: absolute;
  z-index: -1;
}

.top-product-info:hover {
  background-color: #FFE17F;
}

.top-product-info:focus {
  outline: none;
}

.top-product-info:focus::after {
  content: "";
  width: 220px;
  height: 8px;
  background-color: #AF4FFF;
  position: absolute;
  z-index: -1;
}

.top-product-info:active {
  opacity: 0.3;
  background-color: rgba(255, 225, 127, 1);
}

.top-product-info:active::after {
  background-color: rgba(255, 225, 127, 1);
}

.slider-pagination {
  list-style-type: none;
  display: flex;
  margin-left: 178px;
  margin-right: auto;
}

.slider-pagination-item {
  margin-left: 22px;
  display: flex;

}

.slider-pagination-button {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  fill: transparent;
  stroke: #000000;
}

.slider-pagination-button-focus {
  fill: #000000;
}

.slider-pagination-button:focus {
  stroke: #AF4FFF;
  outline: none;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active {
  stroke: #000000;
  opacity: 0.3;
}

.specifications-number {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  display: flex;
  margin-top: 70px;
}

.specifications-number-text {
  margin-right: 60px;
}

.specifications-description {
  font-size: 16px;
  line-height: 30px;
  display: flex;
  margin-top: 8px;
}

.specifications-description-text {
  margin-right: 20px;
}

.categories {
  margin-top: 70px;
}

.categories-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.categories-item {
  width: 160px;
}

.categories-backgraund {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories-link:hover .categories-backgraund {
  background-color: #FFC700;
}

.categories-link:active .categories-backgraund {
  background-color: #FFC700;
}

.categories-link:active .categories-icon {
  opacity: 0.3;
}

.categories-link:active .categories-text {
  opacity: 0.3;
}

.categories-link:focus {
  outline: none;
}

.categories-link:focus .categories-text {
  color: #AF4FFF;
}

.categories-link:focus .categories-backgraund {
  outline: 5px solid #AF4FFF;
}

.categories-text {
  width: 160px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  display: inline-block;
  margin-top: 33px;
}

.categories-icon-monopods {
  margin-bottom: -42px;
}

.conditions-color {
  width: 100%;
  background-color: #F0F0F0;
  margin-top: 175px;
}

.conditions {
  width: 1160px;
  margin: 0 auto;
  height: 288px;
  display: flex;
  justify-content: space-between;
}

.black-line {
  width: 285px;
  height: 239px;
  border-right: 7px solid #000000;
  padding-top: 80px;
  margin-top: -100px;
}

.conditions-list {
  width: 285px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.conditions-item {
  margin-bottom: 13px;
}

/* .conditions-div {
  width: 160px;
  background-color: #F0F0F0;
  background-image: url(../image/top-product-info-2.svg);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
} */

.conditions-button {
  width: 160px;
  height: 40px;
  border: #F0F0F0;
  background: transparent;
  border: 10px solid transparent;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.conditions-button::before {
  content: "";
  width: 160px;
  height: 8px;
  background-color: #FFC700;
  position: absolute;
  z-index: -1;
}

.conditions-name {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.conditions-button-focus {
  width: 285px;
  background-color: #000000;
  justify-content: start;
}

.conditions-button-focus::before {
  content: none;
}

.conditions-name-focus {
  color: #FFE17F;
}

.conditions-button:hover {
  background-color: #FFC700;
}

.conditions-button-focus:hover {
  background-color: #000000;
}

.conditions-button:focus::before {
  background-color: #AF4FFF;
}

.conditions-button:focus {
  outline: none;
}

.conditions-button:active {
  opacity: 0.3;
}

.conditions-info-block {
  margin-left: 116px;
  display: flex;
  padding-top: 65px;
  margin-top: -98px;
}

.conditions-info-list {
  list-style-type: none;
}

.conditions-info-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 34px;
}

.conditions-delivery-img {
  width: 136px;
  height: 164px;
  margin-left: 61px;
  margin-right: 69px;
}

.rare-commodity {
  color: #000000;
  background-color: #F0F0F0;
  margin-top: 90px;
}

.rare-commodity-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #000000;
  box-sizing: border-box;
}

.rare-commodity-icon {
  padding-top: 35px;
  padding-left: 39px;
  width: 47px;
  background-color: #FFE17F;
  padding: 39px 35px 39px 34px;
}

.rare-commodity-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.rare-commodity-info {
  width: 50px;
  height: 50px;
  border: 5px solid transparent;
  background-color: transparent;
  margin-right: 28px;
  cursor: pointer;
  fill-opacity: 0.5;
}

.rare-commodity-link:focus {
  outline: 5px solid #AF4FFF;
}

.rare-commodity-link:hover {
  background-color: #EBEBEB;
}

.rare-commodity-link:hover .rare-commodity-icon {
  background-color: #FFC700;
}

.rare-commodity-link:hover .rare-commodity-info {
  fill-opacity: 1;
}

.rare-commodity-link:active {
  opacity: 0.3;
}

.rare-commodity-info:focus {
  outline: none;
  border: 5px solid #AF4FFF;
  border-radius: 25px;
  box-sizing: border-box;
}

.about-contacts {
  margin-top: 97px;
  display: flex;
  margin-bottom: 87px;
}

.about {
  width: 560px;
  margin-right: 40px;
}

.about-black-line {
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-top: 42px;
  margin-bottom: 42px;
}

.transport-companies-list {
  color: #FFC700;
  margin-top: 23px;
  margin-left: 18px;

}

.transport-companies-item {
  margin-bottom: 20px;
  padding-left: 16px;
}

.transport-companies-text {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.about-link {
  width: 260px;
  /* height: 50px; */
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 71px;
  margin-left: 13px;
}

.about-link::before {
  content: "";
  width: 290px;
  height: 8px;
  background-color: #FFE17F;
  position: absolute;
  z-index: -1;
}

.about-link:focus {
  outline: none;
}

.about-link:focus::before {
  background-color: #AF4FFF;
}

.about-link:hover::before {
  height: 50px;
}

.about-link:active {
  opacity: 0.3;
}

.contacts {
  width: 560px;
}

.contacts-black-line {
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contacts-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-top: 42px;
  margin-bottom: 42px;
}

.contacts-miniheader {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  margin-top: 30px;
  margin-bottom: 15px;
}

.contacts-phone{
  color: #444444;
}

.contacts-phone:focus {
  outline: none;
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  right: 17px;
}

.contacts-link {
  width: 260px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-top: 74px;
}

.contacts-link::before {
  content: "";
  width: 260px;
  height: 8px;
  background-color: #FFE17F;
  position: absolute;
  z-index: -1;
}

.contacts-link:focus {
  outline: none;
}

.contacts-link:focus::before {
  background-color: #AF4FFF;
}

.contacts-link:hover::before {
  height: 50px;
}

.contacts-link:active {
  opacity: 0.3;
}

.subscription-color {
  width: 100%;
  background-color: #F0F0F0;
}

.subscription {
  width: 1160px;
  margin: 0 auto;
  height: 405px;
}

.subscription-first-block {
  display: flex;
  justify-content: space-between;
}

.subscription-header {
  width: 560px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  padding-top: 75px;
  padding-bottom: 40px;
}

.subscription-text {
  width: 560px;
  height: 99px;
  padding-top: 86px;
  padding-bottom: 50px;
}

.subscription-last-block {
  display: flex;
}

.subscription-form {
  display: flex;
}

.subscription-form-email {
  width: 601px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  border: transparent;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.subscription-form-button {
  width: 260px;
  height: 55px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}

.subscription-form-button-text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.subscription-form-email:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.subscription-form:focus-within .subscription-form-email {
  background-color: #DCDCDC;
  outline: none;
}

.subscription-form:active .subscription-form-email {
  border-bottom: 3px solid rgba(0, 0, 0, 1);
}

.subscription-form-email:invalid {
  border-bottom: 3px solid #FF3D3D;
}

.subscription-form-button:hover {
  background-color: #000000;
  border: transparent;
}

.subscription-form-button:hover .subscription-form-button-text {
  color: #FFFFFF;
}

.subscription-form-button:focus {
  border: 3px solid #AF4FFF;
  outline: none;
}

.subscription-form-button:active .subscription-form-button-text {
  opacity: 0.3;
}

.subscription-icon {
  padding-left: 136px;
  padding-right: 21px;
}

.subscription-coment {
  padding-top: 14px;
}

.page-footer {
  width: 100%;
  height: 321px;
  color: #FFFFFF;
  background-color: #444444;
}

.page-footer-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 62px;
}

.footer-addres {
  width: 240px;
}

.footer-info {
  width: 486px;
  margin-top: 75px;
}

.footer-logo {
  width: 145px;
  height: 36px;
  display: block;
  margin-bottom: 35px;
}

.footer-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.footer-yellow-line {
  width: 80px;
  height: 7px;
  background-color: #FFC700;
  margin-top: 66px;
}

.footer-list {
  list-style-type: none;
  display: flex;
  margin-bottom: 63px;
}
.footer-item {
  width: 148px;
  padding-right: 32px;
  position: relative;
}

.footer-item:nth-child(3) {
  padding-right: 0px;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}

.footer-item:focus-within::before {
  content: "";
  width: 184px;
  height: 50px;
  position: absolute;
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 25px;
  top: -11px;
  left: -22px;
}

.footer-link:focus {
  outline: none;
}

.footer-link:hover {
  color: #FFC700;
}

.footer-link:hover::before {
  content: "";
  width: 139px;
  height: 0;
  border-bottom: 2px solid #FFC700;
  position: absolute;
  top: 32px;
}

.footer-link:active {
  color: #FFC700;
  opacity: 0.3;
}

.footer-link:active::before {
  content: "";
  width: 139px;
  height: 0;
  border-bottom: 2px solid #FFC700;
  position: absolute;
  top: 32px;
  left: 0px;
  opacity: 0.3;
}

.footer-messengers-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.footer-messengers-item {
  margin-right: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-messengers-item:nth-child(3) {
  margin-right: 0px;
}

.footer-messengers-link:focus {
  outline: none;
}

.footer-messengers-link:focus svg {
  border: 5px solid #AF4FFF;
  border-radius: 25px;
}

.footer-messengers-link:focus svg circle {
  fill: transparent;
}

.footer-messengers-link:focus svg path {
  fill: #FFFFFF;
}

.footer-messengers-link:hover svg circle {
  fill: #FFC700;
  fill-opacity: 1;
}

.footer-messengers-link:active svg path {
  fill: #444444;
  opacity: 0.3;
}

.footer-section-phone {
  max-width: 293px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 75px;
}

.footer-phone {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}

.footer-phone:focus {
  outline: none;
}

.footer-phone:focus::before {
  content: "";
  width: 204px;
  height: 27px;
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  top: 1px;
  right: -14px;
}

.footer-phone:hover {
  color: #FFC700;
}

.footer-phone:active {
  opacity: 0.3;
}

.footer-htmlacademy {
  margin-top: 63px;
  position: relative;
}

.footer-htmlacademy:focus {
  outline: none;
}

.footer-htmlacademy:focus::before {
  content: "";
  width: 135px;
  height: 53px;
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 10px;
  position: absolute;
  top: -11px;
  left: -10px;
}

.footer-htmlacademy:hover svg path {
  fill: #FFFFFF;
}

.footer-htmlacademy:active svg path {
  fill: #FFFFFF;
  opacity: 0.3;
}

.main-catalog {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.subsection {
  width: 1160px;
  margin: 0 auto;
  box-sizing: border-box;
}

.subsection-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  margin-top: 37px;
  margin-left: 60px;
  margin-bottom: 23px;
}

.subsection-menu-list {
  list-style-type: none;
  display: flex;
  margin-left: 50px;
  margin-bottom: 43px;
}

.subsection-menu-link {
  display: block;
  text-decoration: none;
  opacity: 0.6;
  color: #000000;
  position: relative;
  padding: 5px 12px 6px 13px;
  margin-right: 9px;
}

.subsection-menu-item:nth-last-child(n + 2) .subsection-menu-link::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 7px;
  background-image: url(../image/nav-arrow.svg);
  position: absolute;
  top: 12px;
  right: -5px;
}

.subsection-menu-link:focus {
  outline: 5px solid #AF4FFF;
}

.subsection-menu-link:hover {
  opacity: 1;
}

.subsection-menu-link:active {
  opacity: 0.3;
}

.catalog-product {
  width: 100%;
  display: flex;
}

.filter {
  width: 38.8%;
  background-color: #EBEBEB;
  position: relative;
}

.filter-topblock-color {
  height: 70px;
  color: #000000;
  background-color: #DCDCDC;
  display: flex;
  justify-content: end;
}

.filter-topblock {
  width: 328px;
  height: 100%;
  /* border: 1px solid #000; */
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.filter-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-left: 60px;
}

.catalog-filter {
  width: 328px;
  /* border: 1px solid #000; */
  box-sizing: border-box;
  position: absolute;
  right: 0;
  padding-left: 60px;
}

.catalog-filter-strip-one {
  width: 200px;
  border-top: 2px solid #000000;
  margin-top: 71px;
  margin-bottom: 12px;
}

.catalog-filter-group {
  border: transparent;
}

.catafog-filter-title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.range-scale {
  position: relative;
  width: 200px;
  height: 2px;
  margin-bottom: 15px;
  background-color: #DCDCDC;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-wrapper-inputs {
  position: absolute;
}

.inputs-min {
  top: 14px;
  left: -14px;
}

.inputs-max {
  top: 14px;
  right: -59px;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
}

.catalog-filter-price-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  opacity: 0.3;
}

.catalog-filter-input {
  width: 60px;
  padding: 0 2px;
  font: inherit;
  background-color: transparent;
  border: none;
  opacity: 0.3;
  appearance: textfield;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.toogle-min {
  top: -8px;
  left: -9px;
}

.toogle-max {
  top: -8px;
  right: -9px;
}

.range-toggle:focus {
  border: 2px solid #AF4FFF;
  outline: none;
}

.range-toggle:focus + .range-wrapper-inputs,
.range-toggle:focus + .range-wrapper-inputs .catalog-filter-input {
  color: #AF4FFF;
}

.range-toggle:active {
  background-color: #000000;
  border: 2px solid #000000;
}

.range-toggle:active +.range-wrapper-inputs .catalog-filter-price-text,
.range-toggle:active + .range-wrapper-inputs .catalog-filter-input {
  color: #000000;
  opacity: 1;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
}

.catalog-filter-price-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  opacity: 0.3;
}

.catalog-filter-input {
  width: 60px;
  padding: 0 2px;
  font: inherit;
  background-color: transparent;
  border: none;
  opacity: 0.3;
  appearance: textfield;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-strip-two {
  width: 200px;
  border-top: 2px solid #000000;
  margin-top: 36px;
  margin-bottom: 12px;
}

.catafog-filter-title {
  margin-bottom: 27px;
}

.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter-item {
  width: fit-content;
  margin-bottom: 21px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 3px;
  opacity: 0.2;
}

.control-input[type="checkbox"]:checked + .control-mark {
  opacity: 1;
}

.control:hover .control-input[type="checkbox"]:checked ~ span {
  opacity: 0.5;
}

.control:focus-within .control-mark {
  border: 2px solid #AF4FFF;
  opacity: 1;
}

.control:focus-within .control-label {
  color: #AF4FFF;
}

.control:active .control-mark,
.control:active .control-label {
  opacity: 0.2;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-image: url(../image/galka.svg);
}

.control:focus-within .control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-image: url(../image/galka-purple.svg);
}

.catalog-filter-strip-three {
  width: 200px;
  border-top: 2px solid #000000;
  margin-top: 24px;
  margin-bottom: 12px;
}

.catalog-filter-bluetooth-list {
  list-style-type: none;
}

.catafog-filter-title {
  margin-bottom: 27px;
}

.catalog-filter-bluetooth-input {
  margin-bottom: 21px;
}

.catalog-filter-button-yellow {
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.catalog-filter-button {
  width: 200px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  border: transparent;
  background-image: url(../image/top-product-info-4.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
  cursor: pointer;
}

.product {
  width: 66.7%;
}

.product-sorting-color {
  height: 70px;
  background-color: #EBEBEB;
}

.product-sorting {
  width: 832px;
  height: 100%;
  /* border: 1px solid #000; */
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.sorting-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin-left: 72px;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: transparent;
  border: transparent;
  margin-left: 50px;
}

.button-sorting-up {
  text-decoration: none;
  margin-left: auto;
}

.button-sorting-down {
  margin-left: 19px;
  text-decoration: none;
}

.button-sorting-focus {
  opacity: 0.5;
}

.product-cards-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
  width: 760px;
  margin-left: 72px;
  margin-top: 69px;
  list-style-type: none;
}

.product-cards-link {
  text-decoration: none;
  position: relative;
  display: grid;
  grid-template-columns: 259px 101px;
  grid-template-rows: 380px auto;
  row-gap: 32px;
}

.product-cards-img {
  width: 360px;
  height: 380px;
  grid-column: 1 / 3;
}

.product-cards-title-link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.product-cards-price {
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
  padding-top: 3px;
}

.product-cards-link:hover::before {
  content: "Подробнее";
  width: 166px;
  height: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-image: url(../image/top-product-info-4.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 8px;
  padding-right: 6px;
  position: absolute;
  top: 181px;
  left: 90px;
  z-index: 1;
}

.product-cards-link:hover::before:hover {
  content: "jashdkajsd";
}

.product-cards-link:hover .product-cards-img {
  opacity: 0.3;
  z-index: -1;
}

.product-cards-link:focus {
  outline: none;
}

.product-cards-link:focus .product-cards-img {
  outline: 5px solid #AF4FFF;
}

.product-cards-link:focus .product-cards-title-link {
  color: #AF4FFF;
}

.product-cards-link:focus .product-cards-price {
  color: #AF4FFF;
}

.button-add-cards {
  width: 760px;
  height: 55px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-top: 44px;
  margin-left: 72px;
  margin-bottom: 51px;
}

.button-add-cards:focus {
  outline: none;
}

.button-add-cards:focus {
  border: 5px solid #AF4FFF;
}

.button-add-cards:hover {
  border: 3px solid #000000;
}

.button-add-cards:active {
  opacity: 0.3;
  border: 3px solid #000000;
}

.pagination {
  width: 766px;
  height: 70px;
  color: #000000;
  background-color: #EBEBEB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-left: 72px;
  margin-bottom: 77px;
}

.pagination-list {
  list-style-type: none;
  display: flex;
}

.pagination-next {
  height: 70px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding-left: 29px;
  padding-right: 29px;
}

.pagination-next:focus {
  border: 5px solid #AF4FFF;
  padding-left: 24px;
  padding-right: 24px;
  outline: none;
}

.pagination-next:hover {
  background-color: #DCDCDC;
}

.pagination-next:active .pagination-text {
  opacity: 0.3;
}

.pagination-item {
  padding-right: 11px;
}

.pagination-link {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;
}

.pagination-link-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  opacity: 0.3;
}

.pagination-link:focus {
  border: 5px solid #AF4FFF;
  outline: none;
}

.pagination-link:hover .pagination-link-text {
  opacity: 1;
}

.pagination-link:active .pagination-link-text {
  opacity: 0.1;
}
